@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --font: 'Satoshi-Regular', 'Satoshi-Medium', sans-serif;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Satoshi-Regular', 'Satoshi-Medium', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url('../public/fonts/Satoshi-Regular.woff2') format('woff2'),
       url('../public/fonts/Satoshi-Regular.woff') format('woff'),
       url('../public/fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url('../public/fonts/Satoshi-Medium.woff2') format('woff2'),
       url('../public/fonts/Satoshi-Medium.woff') format('woff'),
       url('../public/fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

.font-satoshi-regular {
  font-family: 'Satoshi-Regular', sans-serif;
}

.font-satoshi-medium {
  font-family: 'Satoshi-Medium', sans-serif;
}